<style>
    .titulo{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #lstContactos{
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
    }

    .contactRow{
        background-color: rgb(197, 197, 197);
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .contactRow a{
        color: rgb(0, 0, 0) !important;
        text-decoration: none !important;
    }

    .contactRow .contactImage
    {
        max-width: 110px;
        width:100%;
        height: auto;;
    }
    .contactRow .contactName
    {
        margin-top: 10px;
    }
    .contactRow p{
        margin:0;
    }

    .greenMessageText{
        color: greenyellow;
        font-size: 22px;
        font-weight: bold;
    }

    /*Tamaño de Fuentes*/

    @media (max-width: 760px) {

        .contactRow .contactName
        {
            font-size: 18px;
        }
        .contactRow .contactTel
        {
            font-size: 12px;
        }
    }
    @media (min-width: 761px) {
        .contactRow .contactName
        {
            font-size: 36px;
        }
        .contactRow .contactTel
        {
            font-size: 16px;
        }
    }
</style>
<div class="container">

    <div class="titulo">
        <h1>Lista de contactos</h1>
        <p>Aqui puedes ver todos los contactos que tienes grabados</p>
    </div>
    <p *ngIf="resultado.length==0" class="greenMessageText">Aún no tienes ningun contacto guardado.</p>
    <ul id="lstContactos">
        <li *ngFor="let contacto of resultado">
            <div class="contactRow">
                <a href="#">
                    <div class="row">
                        <div class="col-4 col-md-3 col-lg-2">
                            <img src="../../assets/contact.png" alt="Nombre" class="contactImage">
                        </div>
                        <div class="col-8 col-md-9 col-lg-10">
                            <p class="contactName">{{contacto.nombres}} {{contacto.apellidos}}</p>
                            <p class="contactTel">{{contacto.telefono}}</p>
                        </div>
                    </div>
                </a>    
            </div>
        </li>
    
    </ul>
</div>

