<style>
    .bbt{
        margin-right: 10px;
    }
</style>

<div *ngIf="getClaims() == null">
    <div class="container" style="margin-top: 150px; margin-bottom: 150px; text-align: center;">
        <h1 >Contactos App</h1>
        <p>Bienvenido a la aplicacion para almacenar los contactos de forma segura.</p>
        <div>
            <button class="btn btn-light" (click)="login()">
                SingIn
            </button>
        </div>
    </div>
</div>

<div *ngIf="getClaims() != null">
    
    <button class="btn btn-light bbt" (click)="navegarContactos()">Contactos</button>
    <button class="btn btn-light bbt" (click)="navegarAddContactos()">Agregar Contacto</button>
    <button class="btn btn-danger bbt" (click)="logout()">        Logout     </button>
    
    <!--<button (click)="getClaims()">Ver Claims</button>-->
    
    <div >
        <router-outlet></router-outlet>
    </div>


</div>


